<footer class="footer fixed-bottom opacity80 py-3 wf-sans-serif" th:fragment="footer_fragment" id="footer" >
    <div class="mb-1">
        <a href="https://ja-jp.facebook.com/" target="blank">
            <i class="fa-brands fa-facebook-f fa-2x midnight-blue-color"></i>
        </a>
        <a href="https://twitter.com/?lang=ja" target="blank">
            <i class="fa-brands fa-twitter fa-2x mx-5 midnight-blue-color"></i>
        </a>
        <a href="https://www.youtube.com/" target="blank">
            <i class="fa-brands fa-youtube fa-2x midnight-blue-color"></i>
        </a>
    </div>

    <p class="mb-0">
        Copyright 2023 <strong>Java</strong> x <strong>SpringBoot</strong> x <strong>Bootstrap</strong> Demo Site
    </p>
</footer>
