<!-- Member List -->
<div id="children">
    <div class="container wf-sans-serif" style="margin-top: 6rem"
         xmlns:th="http://www.thymeleaf.org"
         xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
         sec:authorize-url="/admin">
        <h1 class="display-3 headline-vl-green fadeLeftRight timing-ease-in-out">
            <span class="display-6 mb-3 text-color-grey ms-3" th:text="#{i18nfields.memberList}"></span>
        </h1>

        <br sec:authorize-url="/admin"/>

        <!-- 例外エラー表示 -->
        <div id="parent" th:insert="common/exception_error"/>

        <!-- 検索 -->
        <form th:action="@{/admin/member_search}" th:object="${studioMemberSearchForm}" th:method="POST">
            <div class="row fadeUp">
                <!-- 会員ID -->
                <div class="col-md-6 mt-4 form-group">
                    <label class="mb-2" th:text="#{i18nfields.studioMemberId}"/>
                    <input type="number" class="form-control" th:field="*{id}" autofocus/>
                </div>

                <br/>

                <!-- 名前 -->
                <div class="col-md-6 mt-4 form-group">
                    <label class="mb-2" th:text="#{i18nfields.name}"/>
                    <input type="text" class="form-control" th:field="*{name}"/>
                </div>
            </div>

            <button type="submit" class="btn btnx-indigo-light btn-sm mt-3 fadeRightLeft timing-ease-in-out">検索
            </button>
            <a  sec:authorize-url="/admin" th:href="@{/admin/member_search_clear}" class="btn btnx-indigo-light btn-sm mt-3 ms-2 fadeRightLeft timing-ease-in-out">クリア</a>
        </form>

        <div class="border-top mt-2 mb-2"></div>

        <div class="row">
            <div class="col-md">
                <div class="fadeRightLeft timing-ease-in-out">
                    <a th:href="@{/admin?p=reserve_list}"
                       class="btn btnx-indigo-light btn-sm mt-0 md-4 me-2"
                       th:text="#{i18nfields.reserveList}"></a>
                    <a th:href="@{/new_registration_form}"
                       class="btn btnx-indigo-light btn-sm mt-0 md-4 me-2"
                       th:text="#{i18nfields.newRegistrationButton}"></a>
<!--
                    <a th:href="@{/}"
                       class="btn btnx-indigo-light btn-sm mt-0 md-4"
                       th:text="#{i18nfields.home}"></a>
-->
                </div>

                <br />

                <!-- Paging -->
                <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-end">
                        <!-- First -->
                        <li class="page-item" th:disabled="${pagination.page} == '1'" aria-disabled="true">
                            <a class="page-link" th:href="${pageLinkUrl + '1'}" tabindex="-2" area-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <!-- Back -->
                        <li class="page-item" aria-disabled="true">
                            <a class="page-link" th:href="${pageLinkUrl + pagination.previousBlock}"
                               th:disabled="${pagination.page} == '1'" tabindex="-1" aria-label="Previous">
                                <span aria-hidden="true" th:text="#{i18nfields.paginationBack}"></span>
                            </a>
                        </li>

                        <th:block th:with="start = ${pagination.startPage}, end = ${pagination.endPage}">
                            <li class="page-item" th:classappend="${pagination.page == pageButton} ? active"
                                th:with="start = ${pagination.startPage}, end = ${pagination.endPage}"
                                th:each="pageButton : ${#numbers.sequence(start, end)}">
                                <a class="page-link" th:href="${pageLinkUrl + pageButton}" th:text="${pageButton}"></a>
                            </li>
                        </th:block>

                        <!-- Next -->
                        <li class="page-item" aria-disabled="true">
                            <a class="page-link" th:href="${pageLinkUrl + pagination.nextBlock}"
                               th:disabled="${pagination.page} == ${pagination.endPage}" aria-label="Next">
                                <span aria-hidden="true" th:text="#{i18nfields.paginationNext}"></span>
                            </a>
                        </li>
                        <!-- Last -->
                        <li class="page-item" aria-disabled="true">
                            <a class="page-link" th:href="${pageLinkUrl + pagination.totalPageCount}"
                               th:disabled="${pagination.page} == ${pagination.endPage}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>

                <div th:if="${studioMemberFormList}">
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th><label class="ms-2" th:text="#{i18nfields.studioMemberId}"></label></th>
                            <th><label class="ms-2" th:text="#{i18nfields.name}"></label></th>
                            <th><label class="ms-2" th:text="#{i18nfields.furigana}"></label></th>
                            <!--                            <th><label class="ms-2" th:text="#{i18nfields.address}"></label></th>-->
                            <th><label class="ms-2" th:text="#{i18nfields.phone}"></label></th>
                            <th><label class="ms-2" th:text="#{i18nfields.email}"></label></th>
                            <th><label class="ms-2" th:text="#{i18nfields.artistName}"></label></th>
                            <th><label class="ms-2" th:text="#{i18nfields.memberRegistrationDate}"></label></th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="studioMemberFormData : ${studioMemberFormList}" th:object="${studioMemberFormData}"
                            class="align-middle">
                            <td><label class="ms-2" th:text="*{id}"></label></td>
                            <td><label class="ms-2" th:text="*{name}"></label></td>
                            <td><label class="ms-2" th:text="*{furigana}"></label></td>
                            <!--                            <td><label class="ms-2" th:text="*{address}"></label></td>-->
                            <td><label class="ms-2" th:text="*{phone}"></label></td>
                            <td><label class="ms-2" th:text="*{email}"></label></td>
                            <td><label class="ms-2" th:text="*{artistName}"></label></td>
                            <td><label class="ms-2" th:text="*{registrationDate}"></label></td>
                            <td>
                                <div class="ms-2">
                                    <a th:href="@{/admin?p=member_change-{id}(id=*{id})}"
                                       class="btn btnx-indigo-light btn-sm mt-1 md-4 mb-1 me-2 fadeRightLeft timing-ease-in-out"
                                       th:text="#{i18nfields.memberChangeButton}"></a>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
